html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe is black + blue */
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, darkblue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, darkblue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, darkblue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, darkblue); /* Standard syntax (must be last) */
    background-size: cover;
    background-position: fixed;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
    
    border-color: orange;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 64px red;
    
}

#mercury {
    position: absolute;
    top: 25%;
    left: 25%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
}

#mercury-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

  -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }

#venus {
    position: absolute;
    top: 25%;
    left: 25%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
}

#venus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

  -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }

#earth {
    position: absolute;
    top: 25%;
    left: 25%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
}

#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

  -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }

#mars {
    position: absolute;
    top: 25%;
    left: 25%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
}

#mars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

  -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }

#jupiter {
    position: absolute;
    top: 25%;
    left: 25%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
}

#jupiter-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

  -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }

#saturn {
    position: absolute;
    top: 25%;
    left: 25%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
}

#saturn-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

  -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }

#uranus {
    position: absolute;
    top: 25%;
    left: 25%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
}

#uranus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

  -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }

#neptune {
    position: absolute;
    top: 25%;
    left: 25%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
}

#neptune-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

  -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }

#pluto {
    position: absolute;
    top: 25%;
    left: 25%;
    
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
}

#pluto-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    
    height: 500px;
    width: 500px;
    margin-top: -250px;
    margin-left: -250px;
    
    border-width: 2px;
    border-style: dotted;
    border-color: white;
    border-radius: 50%;

  -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}
    
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}